*{
    padding: 0;
    margin: 0;
    border: none;
    text-decoration: none;
    list-style: none;
    transition: all 0.2s linear;
}
body{
    margin-top: 40px;
    /* background-color: rgb(0, 163, 232); */
    background:linear-gradient(135deg, #55b3ab,#5b548a);
    height: 100vh;
    /* background-image: URL('https://t3.ftcdn.net/jpg/03/98/72/60/360_F_398726020_osA2T853Y6ZDfRUOqfNCo6yhZ8MUQew4.jpg'); */
    background-position: center;
    background-size: cover;
}
#container{
    
    border-radius: 5px;
    /* background-color: rgba(255, 255, 255, 0.422); */
    width: 70%;
    max-width: 600px;
    margin: 10px auto;
    aspect-ratio: 1/1;
    backdrop-filter: blur(8px);
    box-shadow: 3px 3px 15px rgb(28, 27, 27);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#cards{
    /* background-color: rgb(141, 114, 81); */
    background:linear-gradient(135deg, #000000,#5b548a);
    width: 30%;
    height: 20%;
    padding-top: 4px;
    display: flex;
    justify-content: space-evenly;
    align-self: flex-end;
    border-radius: 10px;
}
.ics{
    width: 30%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

.innercards{
    width: 90%;
    height: 70%;
    border-radius: 5px;
}

#rc{
    background:linear-gradient(135deg, #000000,#5b548a);
    
}
#gc{
    
    background:linear-gradient(135deg, #346bb4,#5b548a);
}
#bc{
    background:linear-gradient(135deg, #a93838,#5b548a);
}
#rc:hover{
    background:linear-gradient(135deg, #684848,#5b548a);
}
#gc:hover{
    
    background:linear-gradient(135deg, #182d47,#5b548a);
}
#bc:hover{
    background:linear-gradient(135deg, #531f1f,#5b548a);
}

.ics button{
    width: 95%;
    height: 25%;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 5px;
}
#rcb:hover{
    background:linear-gradient(135deg, #a93838,#5b548a);
    border-radius: 5px;
    color: white;
    font-size: 12px;
}
#gcb:hover{
    background:linear-gradient(135deg, #2f51a5,#5b548a);
    border-radius: 5px;
    color: white;
    font-size: 12px;
}
#bcb:hover{
    background:linear-gradient(135deg, #3ca8b4,#5b548a);
    border-radius: 5px;
    color: white;
    font-size: 12px;
}
#mainBody{
    /* background-color: aqua; */
    /* removal */
    box-shadow: 3px 3px 15px rgb(28, 27, 27);
    width: 100%;
    height: 75%;
    display: flex;
    visibility: hidden;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    font-family: 'Montserrat',sans-serif;
}
#mainBody h3{
    background-color: rgb(41, 40, 40);
    box-shadow: 3px 3px 15px rgb(28, 27, 27);
    color: aliceblue;
    text-align: center;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* #remCard{
    align-items: center;
    display: flex;
} */
#remCard:hover{
    display: flex;
    width: 50%;
    height: 25px;
    border-radius: 5px;
    justify-content: center;
    background:linear-gradient(135deg, #35a2c9,#5b548a);
}

#mainBody ul{
    /* background-color: yellow; */
    /* removal */
    box-shadow: 5px 20px 15px rgb(28, 27, 29);
    width: 60%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#mainBody ul li{
    background:linear-gradient(135deg, #000000,#5b548a);
    border-radius: 10px;
    width: 100%;
    height: 20%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
#mainBody a{
    color: aliceblue;
    text-decoration: none;
}
#mainBody a:hover{
    color: rgb(211, 211, 211);
}
#mainBody #remCard{
    color: rgb(41, 40, 40);
    text-shadow: 1px 1px rgb(154, 154, 154);
}

#pinBody{
    /* background-color: aqua; */
    /* removal */
    background:linear-gradient(135deg, #3d9995,#5b548a);
    border-radius: 10px;
    width: 100%;
    height: 75%;
    display: none;
    /* visibility: hidden; */
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Montserrat',sans-serif;
}
#pinBody h3{
    backdrop-filter: blur(10px);
    padding: 10px;
    border-radius: 10px;

    background:linear-gradient(140deg, #2ab37c,#4a3ba7);
}
#pnl{
    padding: 5px;
    border-radius: 10px;
    width: 250px;
    height: 75px;
    background:linear-gradient(140deg, #3ab483,#50478d);
}
#pnl input{
    margin-top: 5px;
    width: 200px;
    height: 40px;
    border-radius: 10px;

}
#pnl input:hover{
    /* font-weight: 800; */
    font-size: larger;
    background:linear-gradient(135deg, #8fd6ba,#bab4e6);
}
#pnl button{
    height: 40px;
    width: 40px;
    border-radius: 5px;
}
#pnl button:hover{
    border-style: double;
    background:linear-gradient(140deg, #339f74,#50478d);
}

#pe{
    cursor: pointer;
}
#disScreen{
    /* background-color: aqua; */
    /* removal */

    width: 100%;
    height: 75%;
    display: none;
    /* visibility: hidden; */
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Montserrat',sans-serif;
}
#homeBtn{
    background-color: rgb(41, 40, 40);
    width: 30%;
    height: 15%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: aliceblue;
    border-radius: 4px;
}

#withBody{
    /* background-color: aqua; */
    /* removal */

    width: 100%;
    height: 75%;
    display: none;
    /* visibility: hidden; */
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Montserrat',sans-serif;
}
#withBody #withEnter{
    cursor: pointer;
}

#depBody{
    /* background-color: aqua; */
    /* removal */

    width: 100%;
    height: 75%;
    display: none;
    /* visibility: hidden; */
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Montserrat',sans-serif;
}
#depBody #depEnter{
    cursor: pointer;
}





@media screen and (max-width: 850px){
    .ics button{
        font-size: xx-small;
    }
}

@media screen and (max-width: 650px) {
    .ics button{
        font-size: 7px;
    }
    #mainBody h3{
        font-size: medium;
    }
}
@media screen and (max-width: 470px) {
    .ics button{
        font-size: 6px;
    }
    #mainBody h3{
        font-size: small;
    }
}
@media screen and (max-width: 420px) {
    .ics button{
        font-size: 5px;
    }
    #mainBody h3{
        font-size: x-small;
    }
    #mainBody a{
        font-size: x-small;
    }
}
