*{
    padding: 0;
    margin: 0;
    border: none;
    text-decoration: none;
    list-style: none;
    transition: all 0.2s linear;
}
body{
    /* background-color: rgb(0, 163, 232); */
    height: 100vh;
    background-image: URL('https://t3.ftcdn.net/jpg/03/98/72/60/360_F_398726020_osA2T853Y6ZDfRUOqfNCo6yhZ8MUQew4.jpg');
    background-position: center;
    background-size: cover;
}
#container{
    background-color: rgba(255, 255, 255, 0.422);
    width: 70%;
    max-width: 600px;
    margin: 10px auto;
    aspect-ratio: 1/1;
    backdrop-filter: blur(8px);
    box-shadow: 3px 3px 15px rgb(28, 27, 27);
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#cards{
    background-color: bisque;
    width: 30%;
    height: 20%;
    padding-top: 4px;
    display: flex;
    justify-content: space-evenly;
    align-self: flex-end;
}
.ics{
    width: 30%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.innercards{
    width: 90%;
    height: 70%;
}

#rc{
    background-color: rgba(255, 74, 74);
}
#gc{
    background-color: rgb(53, 255, 31);
}
#bc{
    background-color: rgb(95, 95, 255);
}
.ics button{
    width: 95%;
    height: 25%;
    border: 1px solid black;
    cursor: pointer;
}
#rcb:hover{
    background-color: red;
}
#gcb:hover{
    background-color: green;
}
#bcb:hover{
    background-color: blue;
}
#mainBody{
    /* background-color: aqua; */
    /* removal */

    width: 100%;
    height: 75%;
    display: flex;
    visibility: hidden;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    font-family: 'Montserrat',sans-serif;
}
#mainBody h3{
    background-color: rgb(41, 40, 40);
    color: aliceblue;
    text-align: center;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mainBody ul{
    /* background-color: yellow; */
    /* removal */

    width: 60%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#mainBody ul li{
    background-color: rgba(255, 74, 74);
    width: 100%;
    height: 20%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
#mainBody a{
    color: aliceblue;
    text-decoration: none;
}
#mainBody a:hover{
    color: rgb(211, 211, 211);
}
#mainBody #remCard{
    color: rgb(41, 40, 40);
    text-shadow: 1px 1px rgb(154, 154, 154);
}

#pinBody{
    /* background-color: aqua; */
    /* removal */

    width: 100%;
    height: 75%;
    display: none;
    /* visibility: hidden; */
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Montserrat',sans-serif;
}
#pe{
    cursor: pointer;
}
#disScreen{
    /* background-color: aqua; */
    /* removal */

    width: 100%;
    height: 75%;
    display: none;
    /* visibility: hidden; */
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Montserrat',sans-serif;
}
#homeBtn{
    background-color: rgb(41, 40, 40);
    width: 30%;
    height: 15%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: aliceblue;
    border-radius: 4px;
}

#withBody{
    /* background-color: aqua; */
    /* removal */

    width: 100%;
    height: 75%;
    display: none;
    /* visibility: hidden; */
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Montserrat',sans-serif;
}
#withBody #withEnter{
    cursor: pointer;
}

#depBody{
    /* background-color: aqua; */
    /* removal */

    width: 100%;
    height: 75%;
    display: none;
    /* visibility: hidden; */
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Montserrat',sans-serif;
}
#depBody #depEnter{
    cursor: pointer;
}





@media screen and (max-width: 850px){
    .ics button{
        font-size: xx-small;
    }
}

@media screen and (max-width: 650px) {
    .ics button{
        font-size: 7px;
    }
    #mainBody h3{
        font-size: medium;
    }
}
@media screen and (max-width: 470px) {
    .ics button{
        font-size: 6px;
    }
    #mainBody h3{
        font-size: small;
    }
}
@media screen and (max-width: 420px) {
    .ics button{
        font-size: 5px;
    }
    #mainBody h3{
        font-size: x-small;
    }
    #mainBody a{
        font-size: x-small;
    }
}
